@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Outfit: 'Outfit', Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(39, 39, 39); 
    font-family: var(--Outfit);
    padding: 40px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: rgb(26, 26, 26);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

}

.gameTitle{
    color: rgb(255, 166, 0);
    text-align: center;
    transition: color 0.5s ease;
    cursor: pointer;
    letter-spacing: 8px;
    font-size: 1.2rem;
    padding: 20px;
}

.gameTitle:hover{
    color: white;
}

.score{
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .button-container button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 4px solid orange;
    cursor: pointer;
  }
  
  .top-buttons {
    display: flex;
    gap: 8px;
  }
  
  .top-buttons button {
    flex: 1;
  }
  
  .button-container button:nth-child(3) {
    margin-top: auto;
  }

.font-awesome-icon{
    height: 30px;
    width: 30px;
}

.font-awesome-icon:hover{
    color: orange;
}

.winnerScreen{
  color: white;
  text-align: center;
  padding: 20px;
}

.winnerScreen h2{
  color: orange;
}
  
.icon-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.retry-button{
  padding: 5px;
  color: black;
  background-color: white;
  font-family: var(--Outfit);
  border-radius: 20px;
}

  